<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
     <section name="handleMaxRequestLengthWithJson" type="Sdx.Configuration.DictionaryListSection, Sdx"/>
  </configSections>
  <handleMaxRequestLengthWithJson>
    <List>
      <add path="/form/upload-point.aspx" />
    </List>
  </handleMaxRequestLengthWithJson>
  <system.web>
    <compilation debug="true" targetFramework="4.0" batch="false" />
    <httpModules>
      <add name="DebugHttp" type="Sdx.Web.HttpModule" />
    </httpModules>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Auto">
      <remove statusCode="404" />
      <error statusCode="404" path="/_error/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>


