<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="handleMaxRequestLengthWithJson" type="Sdx.Configuration.DictionaryListSection, Sdx"/>
    <section name="sdxDatabaseConnections" type="Sdx.Configuration.DictionaryListSection, Sdx"/>
  </configSections>
  <handleMaxRequestLengthWithJson>
    <Items>
      <add path="/form/upload-point.aspx"/>
    </Items>
  </handleMaxRequestLengthWithJson>
  <sdxDatabaseConnections>
    <Items>
      <add
        name="sqlserver-string"
        connectionType="common"
        adapterClass="Sdx.Db.Adapter.SqlServer"
        connectionString="Server=.\SQLEXPRESS;Database=sdxtest;User Id=sdxuser;Password=sdx5963;"
      />
      <add name="sqlserver" configType="connectionStrings" configName="SqlServer" connectionType="common" adapterClass="Sdx.Db.Adapter.SqlServer"/>
      <add name="mysql" configType="appSettings" configName="MySql" connectionType="common" adapterClass="Sdx.Db.Adapter.MySql"/>
      <add name="main" alias="mysql"/>
    </Items>
  </sdxDatabaseConnections>
  <connectionStrings>
    <add name="SqlServer" connectionString="Server=.\SQLEXPRESS;Database=sdxtest;User Id=sdxuser;Password=sdx5963;"/>
    <add name="MySql" connectionString="Server=localhost;Database=sdxtest;Uid=sdxuser;Pwd=sdx5963;"/>
  </connectionStrings>
  <appSettings>
    <add key="MySql" value="Server=localhost;Database=sdxtest;Uid=sdxuser;Pwd=sdx5963;" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" batch="false">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpModules>
      <add name="DebugHttp" type="Sdx.Web.HttpModule"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Auto">
      <remove statusCode="404"/>
      <error statusCode="404" path="/_error/404.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>